/*CSS Code TVS Games*/
body {
	background: linear-gradient(0deg, cyan, purple, crimson, black);
	margin:0;
   
}

.maintop {
    background: url("http://i.imgur.com/6Odglx5.jpg") no-repeat center top fixed;
	color:white;
	padding: 50px;
	background-size:100% 110%;
	
	
}

h1 {
	font-family: Andes, Revalia;
	font-size:170px;
	text-align: center;
	text-transform: uppercase Revalia;
	margin: 5px;
	padding:0px;
	text-shadow:0px 5px rgba(0, 0, 0, 0.56);
	
}


h2 {
	font-family:Raleway, Arial, "Lemon Milk";
	color: white;
	font-size:30px;
	text-align:center;
	text-shadow:0px 5px rgba(0, 0, 0, 0.56);
	
}

p  {
	font-family:"Franklin Gothic Medium", Arial, "Lemon Milk";
	font-size:40px;
	color:white;
	
	
}

/*BEHIND THE LIFE GAME*/
.btl {
	font-family: Andes, Revalia, Impact, sans-serif;
	color:white;
	font-size: 120px;
	margin:10px;
			
}

.here {
	font-family: "Franklin Gothic Medium", sans-serif;
	color:white;
	font-size:50px;
	
}

table, th, td {
	font-family: "Franklin Gothic Medium", sans-serif;
	color:white;
	font-size:25px;
	text-align:center;
	border: 3px solid white;
	height: 40%;
    left: 10%;
    margin: 20px auto;
    position: static;
    width: 50%;
	
	
}

.steam {
   color:#0c0c0c;
   font-family: "franklin gothic medium", sans-serif;
   text-decoration: none;
   font-size:45px;
}
/*the super jokers*/
.tpr {
    font-family: Andes, Revalia, Impact, sans-serif;
	color:black;
	font-size: 120px;
	margin:10px;
}

/*future game*/
.fg {
	font-family: Andes, Revalia, Impact, sans-serif;
	color:black;
	font-size: 120px;
	margin:10px;
}

/*NAVIGATION BAR*/
.tvsheader {
	font-family: Andes, Revalia;
	color:white;
	letter-spacing: 0.5em;
	float:left;
	display:block;
	text-decoration:none;
	font-size: 30px;
	padding: 8px 12px;
	font-weight:600;
}

.navigation {
	font-family:"Market Deco", Bangers, serif;
	
	
}

.nav {
	color:white;
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
	background: linear-gradient(0deg, darkmagenta, crimson);
	background-color:#7c1029;
	
	/*Fixed bar*/
	position: fixed;
	top:0;
	width:100%;
	
}	

.section {
	float: left;
	display:block;
    color: white;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
	font-size: 20px;
	font-weight:700;
	letter-spacing:0.2em;
	
	
	
	/*Border*/

}

.section:last-child {
	border-right:none;
	
}
	
.section:hover {
	font-style: 700;
	background: linear-gradient(0deg, crimson, purple);
	
	
	
}

.section:active {
	font-style: 700;
	background: linear-gradient(0deg, cyan, blue);
	
}

.section:focus {
	font-style:600;
	background-color; yellow;
}

.futuresection {
	display:none;
}
/*END OF NAVIGATION BAR*/


/*END OF THE PAGE CSS*/

.about-us {
	color:crimson;
	text-align: center;
	text-decoration:none;
	font-size:16px;
	float:center
}

.about-us:hover {
	color:red;
	text-align: center;
	text-decoration:underline;
}


#Copyright {
	font-family:"Arial Black", "Times New Roman";
	font-size: 16px;
	color: rgba(0, 0, 0, 0.786);
	letter-spacing:0.2em;
	
}

* {
	font-family:Arial, Times New Roman, sans-serif;
	box-sizing:border-box;
}

	
* {
	text-align: center;
}

p {
	font-size: 25px;
}

.l-options {
	font-family: "franklin medium gothic", helvetica, serif;
	font-size:22px;
	text-decoration:none;
	color: darkcyan;
	margin:5px;
}

.l-options:hover {
	color:black;
}

.l-options:active {
	background-color:darkcyan;
	padding:3px;
}


.langs {
	margin:3px;
}